<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_01_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{114,94}</string>
				<key>spriteSourceSize</key>
				<string>{114,102}</string>
				<key>textureRect</key>
				<string>{{0,101},{114,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-7}</string>
				<key>spriteSize</key>
				<string>{98,52}</string>
				<key>spriteSourceSize</key>
				<string>{120,100}</string>
				<key>textureRect</key>
				<string>{{121,0},{98,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_01_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{27.5,23.5}</string>
				<key>spriteSize</key>
				<string>{21,13}</string>
				<key>spriteSourceSize</key>
				<string>{120,100}</string>
				<key>textureRect</key>
				<string>{{115,151},{21,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{120,100}</string>
				<key>spriteSourceSize</key>
				<string>{120,108}</string>
				<key>textureRect</key>
				<string>{{0,0},{120,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{22,33}</string>
				<key>spriteSourceSize</key>
				<string>{36,33}</string>
				<key>textureRect</key>
				<string>{{115,128},{22,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_01_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{18,29}</string>
				<key>spriteSourceSize</key>
				<string>{32,29}</string>
				<key>textureRect</key>
				<string>{{149,128},{18,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_01_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{28,39}</string>
				<key>spriteSourceSize</key>
				<string>{42,39}</string>
				<key>textureRect</key>
				<string>{{121,99},{28,39}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_01-uhd.png</string>
			<key>size</key>
			<string>{173,195}</string>
			<key>textureFileName</key>
			<string>icons/robot_01-uhd.png</string>
		</dict>
	</dict>
</plist>